{% block body %}

	<center>
		<h1 class="titre1">Ma Bibliothéque de Livres</h1>
		<a href="{{ path('app_livre_new') }}" class="btn btn-primary">Ajouter un nouveau livre</a><br><br>
	</center><br>
	<div class="container">
		<div class="row">
			{% for livre in livres %}
				<div class="col-md-4">
					<div class="card" style="width: 18rem;height: 450px;">

						<div class="card-body">
							<h4 class="card-title">{{ livre.nom }}</h4>
							<p class="card-text">Auteur:
								{{livre.auteur}}</p>
							<p class="card-text">Nombre de page:
								{{livre.nombredepage}}</p>


						</div>
					</div><br>
				</div>
			{% endfor %}

		</div>
	</div>

{% endblock %}
